[env]
# Use the project name derived from the current directory
PROJECT_NAME = "{{ config_root | basename }}"


[tools]
hurl = "latest"
jq = "latest"

[tasks.info]
description = "Print project information"
run = '''
echo "Project: $PROJECT_NAME"
echo "Virtual Environment: $VIRTUAL_ENV"
'''

[tasks.test-api]
description = "Run examples"
run = "hurl --test examples"

[tasks.pre-commit]
description = "Pre-commit hook"
run = "(cd backend && mise run lint)"