experimental_monorepo_root = true

[env]
# Use the project name derived from the current directory
PROJECT_NAME = "{{ config_root | basename }}"
MISE_EXPERIMENTAL = "1"


[tools]
caddy = "latest"
hurl = "latest"
jq = "latest"

[tasks.info]
description = "Print project information"
run = '''
echo "Project: $PROJECT_NAME"
'''

[tasks.checks]
description = "Run checks"
usage = '''
flag "--fix" {
    help "Enable automatic fixes"
}
'''
run = [
    "mise run //backend:checks ${usage_fix:+--fix}",
    "mise run //frontend:checks ${usage_fix:+--fix}",
]

[tasks.tests]
description = "Run tests"
run = [
    { task = "//backend:tests" },
    { task = "//frontend:tests" },
]

[tasks.pre-commit]
description = "Pre-commit hook"
run = [
    { task = "checks" },
]

[tasks.pre-push]
description = "Pre-push hook"
run = [
    { task = "checks" },
    { task = "tests" },
]