[env]
# Use the project name derived from the current directory
PROJECT_NAME = "{{ config_root | basename }}"


[tools]
caddy = "latest"
hurl = "latest"
jq = "latest"

[tasks.info]
description = "Print project information"
run = '''
echo "Project: $PROJECT_NAME"
echo "Virtual Environment: $VIRTUAL_ENV"
'''

[tasks.checks]
description = "Run checks"
run = [
    "(cd backend && mise run checks)"
]

[tasks.tests]
description = "Run tests"
run = [
    "(cd backend && mise run tests)"
]

[tasks.pre-commit]
description = "Pre-commit hook"
run = [
    { task = "checks" },
]

[tasks.pre-push]
description = "Pre-push hook"
run = [
    { task = "checks" },
    { task = "tests" },
]