[env]
# Use the project name derived from the current directory
PROJECT_NAME = "{{ config_root | basename }}"


[tools]
caddy = "latest"
hurl = "latest"
jq = "latest"

[tasks.info]
description = "Print project information"
run = '''
echo "Project: $PROJECT_NAME"
echo "Virtual Environment: $VIRTUAL_ENV"
'''

[tasks.pre-commit]
description = "Pre-commit hook"
run = '''
(cd backend && mise run checks)
'''

[tasks.pre-push]
depends = ["pre-commit"]
description = "Pre-push hook"
run = '''
(cd backend && mise run tests)
'''