[env]
CGO_ENABLED = "0"

[tools]
air = "latest"
go = "latest"
golangci-lint = "latest"

[tasks.app]
description = "Run the application"

[tasks.lint]
description = "Lint the code"
run = "go test ./app/... && golangci-lint run"

[tasks.checks]
description = "Run checks"
usage = '''
flag "--fix" {
    help "Enable automatic fixes"
}
'''
run = '''
set -x
golangci-lint run --config .golangci.yml ./... ${usage_fix:+--fix}
'''

[tasks.tests]
description = "Run tests"
run = "go test ./app/..."
