.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}

.subtitle {
  font-size: 1.25rem;
  color: white;
  text-align: center;
  line-height: 1.6;
}

.startButton {
  font-size: 1.1rem;
  padding: 0.7rem 1.8rem;
  cursor: pointer;
}

.featuresButton {
  font-size: 1.1rem;
  padding: 0.7rem 1.8rem;
  color: white !important;
  border-color: white !important;
  cursor: pointer;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }
}
