.featureCard:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 2.5rem;
  line-height: 1;
}

.featureTitle {
  font-weight: 600;
}

.featureDescription {
  font-size: 1rem;
  line-height: 1.6;
}

@media (width <= 768px) {
  .icon {
    font-size: 1.5rem;
  }

  .featureTitle {
    font-size: 1.25rem;
  }

  .featureDescription {
    font-size: 0.9rem;
  }
}
