name: 'Chromatic Deployment'

on: push

jobs:
  chromatic:
    name: 'Run Chromatic'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    # Job steps
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10    

      - name: install node
        uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: pnpm
          cache-dependency-path: 'frontend/pnpm-lock.yaml'

      - name: install dependencies
        run: pnpm install

      - uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}
          workingDir: frontend
          buildCommand: pnpm storybook:build