name: frontend

on:
  push:
    branches:
    tags:
    paths:
      - ".github/workflows/ci-frontend.yml"
      - "frontend/**"

  pull_request:
    types: [opened, reopened]
    paths:
      - ".github/workflows/ci-frontend.yml"
      - "frontend/**"

jobs:
  test:
    name: Test & Coverage
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    
    steps:
      - uses: actions/checkout@v4

      - name: install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10    

      - name: install node
        uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: pnpm
          cache-dependency-path: 'frontend/pnpm-lock.yaml'

      - name: install dependencies
        run: pnpm install

      - name: lint & type check
        run: pnpm checks-all-ci
        working-directory: frontend/app

      - name: test & coverage
        run: pnpm test-coverage && cat coverage/lcov.info
        working-directory: frontend/app

      - name: submit coverage
        uses: coverallsapp/github-action@v2
        with:
          flag-name: frontend
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: frontend/app/coverage/lcov.info
          base-path: frontend
          parallel: true
          debug: true
          carryforward: true
      
      
